{% extends "polls/_layout.html" %}
{% block content %}

<div class="container">
    <p style="color: green">
        {% if msg %}
            {{ msg }}
        {% endif %}
    </p>
    <br>
    <div class="row">
        <div class="col-md-6 manual">
            <h1>INSTRUKCJA</h1>

            <div class="paragraph">
                <p>Po kliknięciu przycisku "Stwórz nową rundę" zostanie wylosowana jedna z dwóch typów ankiet:
                    <ol>
                        <li>
                            OCENA BEZKONTEKSTOWA - polega na ocenie niepowiązanych ze sobą zdań, każdego z osobna.
                        </li>
                        <li>
                            OCENA KONTEKSTOWA - polega na ocenie zdań tworzących cały artykuł, a także na całościowej ocenie artykułu.
                        </li>
                    </ol>
                 </p>
            </div>
            <div class="paragraph">
                <b>Zdania</b> można ocenić w trzystopniowej skali:
                <ul>
                    <li>
                        <div class="green">WIARYGODNE</div>
                        <ul>
                            <li>jest wiarygodne, nie budzi zastrzeżeń</li>
                            <li>zawiera informację</li>
                        </ul>
                    </li>
                    <li>
                        <div class="yellow">NEUTRALNE</div>
                        <ul>
                            <li>jest bezwartościowe informacyjnie</li>
                            <li>jest niejasno sprecyzowane</li>
                            <li>zawiera perswazję <u>zgodną</u> z obowiązującą wiedzą medyczną</li>
                        </ul>
                    </li>
                    <li>
                        <div class="red">NIEWIARYGODNE</div>
                        <ul>
                            <li>jest niewiarygodne</li>
                            <li>zawiera nieprawdziwą i/lub niesprawdzoną informację</li>
                            <li>zawiera perswazję <u>sprzeczną</u> z obowiązującą wiedzą medyczną</li>
                        </ul>
                    </li>
                </ul>
                <p><b>ZDANIA NIE MOŻNA OCENIĆ</b>
                gdy bez kontekstu jest niezrozumiałe.</p>
            </div>

            <div class="paragraph">
                <b>Artykuł</b> można ocenić w dwustopniowej skali:
                <ul>
                    <li>
                        <div class="green">WIARYGODNY</div>
                        <ul>
                            <li>nie budzi zastrzeżeń</li>
                            <li>nie nawołuje do postępowania w sprzeczności z obowiązującą wiedzą medyczną</li>
                            <li>chociaż częściowo zawiera konkretną wiedzę medyczną</li>
                        </ul>
                    </li>
                    <li>
                        <div class="red">NIEWIARYGODNY</div>
                        <ul>
                            <li>budzi zastrzeżenia</li>
                            <li>nawołuje do postępowania sprzecznego z obowiązującą wiedzą medyczną</li>
                            <li>nie zawiera żadnej konkretnej wiedzy medycznej (artykuł jest "o niczym")</li>
                            <li>zawiera nieprawdziwe i/lub niesprawdzone informacje</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="paragraph">
                Ankiety należy wypełniać powołując się na własną wiedzę medyczną oraz zawodową intuicję. Dziękuję!
            </div>
        </div>

        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-default">
                    Stwórz nową rundę
                </button>
            </form>
            <br>
            <br>
            Wziąłeś udział w następujących rundach:
            <br>
            {% if not rounds %}
            <p class="red-alert"> Nie wypełniłeś jeszcze żadnej ankiety. Kliknij w "stwórz nową rundę". </p>
            {% endif %}

            <ol>
                {% for round in rounds %}
                    <li class="blue">
                        rozpoczęta: {{ round.created_date }} <br>
                        zakończona: {{ round.finished_date }} <br>
                        zdania oceniane
                        {% if round.is_random %}
                            bezkontekstowo
                        {% else %}
                            kontekstowo <br>
                            Oceniony artykuł o ID {{ round.articleeval.article.id }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            <br>
        </div>
    </div>

    <footer>
    Administratorka strony - Aleksandra Nabożny <br>
        kontakt: s13495@pjwstk.edu.pl
    </footer>
</div>
<!-- /.container -->


{% endblock %}