{% extends "polls/_layout.html" %}
{% load static %}
{% block content %}

<div class="upper-instruction-container">
    <div id="upper-instruction">
        <div class="container">
            <div class="row instruction-row">
                <div class="col-md-4">
                    <h4 class="green">ZDANIE WIARYGODNE</h4>
                    <ul>
                        <li>jest wiarygodne, nie budzi zastrzeżeń</li>
                        <li>zawiera informację</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="yellow">ZDANIE NEUTRALNE</h4>
                    <ul>
                        <li>jest bezwartościowe informacyjnie</li>
                        <li>jest niejasno sprecyzowane</li>
                        <li>zawiera perswazję <u>zgodną</u> z obowiązującą wiedzą medyczną</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="red">ZDANIE NIEWIARYGODNE</h4>
                    <ul>
                        <li>jest niewiarygodne</li>
                        <li>zawiera nieprawdziwą i/lub niesprawdzoną informację</li>
                        <li>zawiera perswazję <u>sprzeczną</u> z obowiązującą wiedzą medyczną</li>
                    </ul>
                </div>
            </div>
            <div class="row instruction-row">
                <p class="text-center"><b>ZDANIA NIE MOŻNA OCENIĆ</b></p>
                <p class="text-center">gdy bez kontekstu jest niezrozumiałe.</p>
            </div>
        </div>
    </div>

    <button id="toggle-instruction" class="btn btn-default">POKAŻ INSTRUKCJĘ</button>
</div>

<div class="container round-container">
    <form  action="{% url 'polls:process_random_round_form' round.id %}" method="post">
        {% csrf_token %}

        {{ formset.management_form }}
        {% for form in formset %}
            {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
            <div class="row phrase-block">
                <div class="col-md-8">
                    {{ form.instance.phrase.body }}
                </div>
                <div class="col-md-4">
                    {{ form.rate }}
                </div>
            </div>

        {% endfor %}

        <div class="centering">
            <div class="center">
                <button type="submit" class="btn btn-default">
                    Zapisz
                </button>
            </div>
        </div>
    </form>
<footer>
aleksandra.nabozny@gmail.com
</footer>
</div>
<!-- /.container -->

{% endblock %}