{% extends "polls/_layout.html" %}
{% load static %}
{% block content %}

<div class="upper-instruction-container">
    <div id="upper-instruction">
        <div class="container">
            <div class="row instruction-row">
                <div class="col-md-4">
                    <h4 class="green">ZDANIE WIARYGODNE</h4>
                    <ul>
                        <li>jest wiarygodne, nie budzi zastrzeżeń</li>
                        <li>zawiera informację</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="yellow">ZDANIE NEUTRALNE</h4>
                    <ul>
                        <li>jest bezwartościowe informacyjnie</li>
                        <li>jest niejasno sprecyzowane</li>
                        <li>zawiera perswazję <u>zgodną</u> z obowiązującą wiedzą medyczną</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="red">ZDANIE NIEWIARYGODNE</h4>
                    <ul>
                        <li>jest niewiarygodne</li>
                        <li>zawiera nieprawdziwą i/lub niesprawdzoną informację</li>
                        <li>zawiera perswazję <u>sprzeczną</u> z obowiązującą wiedzą medyczną</li>
                    </ul>
                </div>
            </div>
            <div class="row instruction-row">
                <div class="col-md-6">
                    <h4 class="green">ARTYKUŁ WIARYGODNY</h4>
                    <ul>
                        <li>nie budzi zastrzeżeń</li>
                        <li>nie nawołuje do postępowania w sprzeczności z obowiązującą wiedzą medyczną</li>
                        <li>chociaż częściowo zawiera konkretną wiedzę medyczną</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="red">ARTYKUŁ NIEWIARYGODNY</h4>
                    <ul>
                        <li>budzi zastrzeżenia</li>
                        <li>nawołuje do postępowania sprzecznego z obowiązującą wiedzą medyczną</li>
                        <li>nie zawiera żadnej konkretnej wiedzy medycznej (artykuł jest "o niczym")</li>
                        <li>zawiera nieprawdziwe i/lub niesprawdzone informacje</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <button id="toggle-instruction" class="btn btn-default">POKAŻ INSTRUKCJĘ</button>
</div>

<div class="container round-container">
    <br>
    <p> Article ID: {{ article.id }} </p>
    <br>

    <form action="{% url 'polls:process_normal_round_form' round.id article.id %}" method="post">
        {% csrf_token %}

        {{ formset.management_form }}
        {% for form in formset %}
            {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
            <div class="row phrase-block">
                <div class="col-md-8">
                    {{ form.instance.phrase.body }}
                </div>
                <div class="col-md-4">
                    {{ form.rate }}
                </div>
            </div>

        {% endfor %}

        <div class="centering">
            <div class="center">
                <p class="article-eval">
                    Oceń wiarygodność całego artykułu
                    {{ art_eval_form.is_credible }}
                </p>
                <button type="submit" class="btn btn-default">
                    Zapisz
                </button>
            </div>
        </div>
    </form>

    <footer>
        aleksandra.nabozny@gmail.com
    </footer>
</div>
<!-- /.container -->

{% endblock %}