{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Badanie wiarygodności</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "polls/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "polls/css/style.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
    <h2>Rejestracja do aplikacji ankietowej PJATK dotyczącej badania wiarygodności</h2>
    <p>Utworzenie konta będzie możliwe jeśli Twój adres email znajduje się w naszej bazie danych.
        Upewnij się, że wpisałeś go poprawnie.</p>

      {% for message in messages %}
        <div class="red" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{% autoescape off %}{{ field.help_text }}{% endautoescape %}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
    </form>
</div>

  <!-- jQuery -->
    <script src="{% static 'polls/js/jquery.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/my.js' %}"></script>
</body>