li a {
    color: green;
}

body {
    padding-top: 50px;
    font-size: large;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 20px;
    text-align: center;
}

.manual {
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.red-alert {
    color: red;
    padding-left: 30px;
}

.blue {
    color: blue;
}

.green {
    color: green;
    font-weight: 600;
}

.yellow {
    color: #deae00;
    font-weight: 600;
}

.red {
    color: #d60025;
    font-weight: 600;
}

.btn {
    width: 100%;
}

.btn-default {
    background-color: #f1f1f1;
    font-size: larger;
    text-transform: uppercase;
}

.centering {
    text-align: center;
}

.center {
    display: inline-block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.phrase-block {
    margin: 5px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    font-size: medium;
}

.paragraph {
    margin-bottom: 30px;
}

.article-eval {
    margin: 20px;
}

/* upperbar instruction */

#upper-instruction {
    width: 100%;
    height: 0px;
    overflow: hidden;
}

#toggle-instruction {
    width: 100%;
    background-color: #C3DEF0;
    border: none;
    border-radius: 0px;
}

#toggle-instruction:hover {
    width: 100%;
    background-color: #a0d4f7
}

.instruction-row {
    background-color: #f1f1f1;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.upper-instruction-container {
    position: fixed;
    z-index: 1030;
    width: 100%;
    background-color: white;
}

.round-container {
    margin-top: 60px;
}

.alert.error.alert-dismissible {
    background-color: #ffb9b9;
    border-radius: 0px;
    width: 90%;
    margin: 10px auto;
}

table.login-table > tbody > tr > td {
    padding: 10px;
}