{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Badanie wiarygodności</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "polls/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "polls/css/style.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
    <h2>Logowanie do aplikacji ankietowej PJATK dotyczącej badania wiarygodności</h2>
    {% if form.errors %}
    <p>Niezgodna nazwa użytkownika i hasło. Spróbuj ponownie.<br> Jeżeli nie pamiętasz hasła, skontaktuj się
    z administratorką portalu: s13495@pjwstk.edu.pl</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="login-table">
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

  <!-- jQuery -->
    <script src="{% static 'polls/js/jquery.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/my.js' %}"></script>
</body>