{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ 'Survey app administration site' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> Survey app administration site </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
